[2018-06-16 19:43] cyrilletuzi opened #1 "feat: Localization"
Contributions welcomed for the localization of this extension.

[2018-06-16 19:45] cyrilletuzi opened #2 "feat: Support for all schematics"
Currently, the extension only loads the CLI schematics (from `@schematics/angular`). Other schematics exist (Material, community...) and should be loaded too.

[2018-06-17 11:01] cyrilletuzi commented on #2
Done in 0.3.

[2018-06-17 11:01] #2 closed

[2018-06-22 18:56] NathanWalker opened #3 "@nrwl/schematics and @nstudio/schematics"
Hi @cyrilletuzi love this!

Would it be possible to add `@nrwl/schematics` and `@nstudio/schematics` as defaults?

[2018-06-22 20:43] #3 closed

[2018-06-29 12:03] cyrilletuzi opened #5 "Material 6.3 schematics not working"
Due to an issue in schematics files of Angular Material 6.3 (see angular/material2#11979), the extension can't load the schematics.

Works with previous versions of Material.

Will work for 6.3 when angular/material2#11980 is merged and released.

[2018-07-02 20:31] cyrilletuzi commented on #5
Fixed in Material 6.3.2.

[2018-07-02 20:31] #5 closed

[2018-07-12 07:28] cyrilletuzi opened #6 "Add a new predefined component type for Elements"
Angular Elements allow to create reusable native Web Components.

But they require special options:
- `entryComponent` is required
- `viewEncapsulation` should be set to `Shadow`

Depends on angular/devkit#936 to be released in CLI 6.1 stable, and on angular/angular-cli#11526.

[2018-07-20 09:17] cyrilletuzi opened #7 "Extension not working when the Angular project is in a subdirectory"
Normally, when you open your Angular project, it is the root directory.

But if you open a parent directory as the project (for example, if you have your Angular project inside your back-end project), the extension doesn't work.

[2018-07-20 11:46] cyrilletuzi commented on #7
After investigation, it's the normal behavior, as `ng g` command itself needs to be in root directory. Adding instructions in README.

[2018-07-20 11:46] #7 closed

[2018-07-25 18:11] cyrilletuzi opened #8 "Feature: support for extended schematics"
Custom schematics can extend existing ones. In that case, the extension must search the options in the original collection.

[2018-07-25 18:14] cyrilletuzi opened #9 "Feature: defaultCollection as first choice"
Some tools like Ionic schematics extends the default CLI schematics, and are set as the `defaultCollection` in `angular.json` (CLI >= 6 only). In that case, this default collection should be the first choice when doing "Angular: Generate another schematics".

[2018-07-25 18:22] cyrilletuzi opened #10 "Feature: support for @ionic/schematics-angular"
Ionic 4 now relies on Angular schematics and could be added to the list of default schematics supported.

Depends on #8. Would be better with #9.

@jgw96 can you confirm that Ionic just add some `schematics` (like `page`), but the other classic ones (like `component`) are the same as in Angular CLI? So `ionic g component` produces the same result as `ng g component`?

[2018-07-25 19:03] dwieeb commented on #10
Hi @cyrilletuzi 👋

I made `@ionic/schematics-angular`. The package can be found in the CLI repo: https://github.com/ionic-team/ionic-cli/tree/master/packages/%40ionic/schematics-angular

You'll notice in our [`collection.json`](https://github.com/ionic-team/ionic-cli/blob/master/packages/%40ionic/schematics-angular/collection.json) we extend all the existing Angular schematics as well as add `page

[2018-07-25 20:01] cyrilletuzi commented on #10
Thanks @dwieeb. So I need to code support for aliases and defaultCollection and it'll be good.

[2018-07-26 07:54] cyrilletuzi commented on #6
Note: `entryComponent` option now available in Angular CLI 6.1.

[2018-07-26 14:30] cyrilletuzi commented on #10
Done in v1.5.

@jgw96 @dwieeb

[2018-07-26 14:30] #10 closed

[2018-07-26 14:31] cyrilletuzi commented on #9
Done in v1.5.

[2018-07-26 14:31] #9 closed

[2018-07-26 14:31] cyrilletuzi commented on #8
Done in v1.5.

[2018-07-26 14:31] #8 closed

[2018-08-14 07:18] cyrilletuzi opened #11 "Investigate new VS Code QuickInput API"
VS Code 1.26 released a new and better `QuickInput` API.

Allows a better UI, but would raise the minimum VS Code version required, and then would be a breaking change and major version bump. So it's better to wait a little until everyone is up to date.

[2018-08-30 13:20] cyrilletuzi opened #12 "Feature: support ng add commands in view"
Until now, `ng add` commands were excluded from this extension, as if the schematics are already here, it means the library is already installed and `ng add` is already done.

But now there is in the extension a dedicated view to see all schematics at once, there could be a second panel to add new schematics/librairies with `ng add`.

The main difficulty will be to manage specific options for some

[2018-09-04 00:23] ErnestUTN opened #13 "@angular/material@6.4.7 schematics doesn't seem to be working"
As I currently only have @angular/material@6.4.7 installed in my project, I can't say the same for the other default supported schematics.

Steps to reproduce bug:

1- Either  right-click or the schematics view or the command palette,
2- Select nav from @angular/material
3- Nothing happens (the command pallete doesn't show up with any option nor components or files are created

![image](https://us

[2018-09-04 14:04] cyrilletuzi commented on #13
There was already an issue with Material schematics (#5), I suppose they broke things again... I'll investigate as soon as possible.

[2018-09-06 20:31] cyrilletuzi commented on #13
This one was not Material fault. :D Previous performance improvements in the extension introduced an issue where the schematics path was not correctly saved in some scenarios. A fix has been released (v1.6.2).

Thanks for reporting the issue @ErnestUTN. Feel free to star this repo and the extension on the VS Code Marketplace. 👍

[2018-09-06 20:31] #13 closed

[2018-09-06 20:32] cyrilletuzi commented on #3
@NathanWalker Late note: feel free to star this repo and the extension on the VS Code marketplace. 👍

[2018-09-06 21:32] ErnestUTN commented on #13
Many thanks sir. I will do :+1:

[2018-09-07 14:14] cyrilletuzi opened #14 "Investigate CLI 7 interactivity"
[Angular CLI v7](https://github.com/angular/angular-cli/releases/tag/v7.0.0-beta.2) will introduce prompts to the user (see angular/angular-cli#11836 and angular/angular-cli#11979).

Investigation is needed to know how it would work with this extension.

[2018-09-19 16:09] cyrilletuzi opened #15 "Feature: jump to the generated file"
If possible, it would be nice to open the generated file.

[2018-09-22 12:50] cyrilletuzi commented on #15
Landed in v1.7.

[2018-09-22 12:50] #15 closed

[2018-09-24 16:27] cyrilletuzi commented on #14
For now, prompts are only introduced for `ng new`, which does not concern this extension.

But they are added in `ng add @angular/material`, which can affect #12.

Keeping this opened for tracking evolution in CLI.

[2018-09-25 10:30] pupizoid opened #16 "Allow to customize shell that extension uses for calling angular-cli"
Hi!

This is amasing extension, but I've found one problem using it. It uses `/bin/sh` as a default shell to call angular-cli binary. The problem comes from I'm using `zsh` as my default shell and it's configured to know where `ng` binary is located but not the `/bin/sh`, so extension prints an error when i'm trying to create any object:
[code]

Can you add option to settings to customize used she

[2018-09-25 12:11] cyrilletuzi commented on #16
@pupizoid An earlier version of the extension was using the VS Code terminal to launch the CLI commands, which I think would use your custom shell. Problem was the Terminal API for extensions was too limited (you can't know the result of the command for example). Last versions of VS Code introduced improvements to the Terminal API but I didn't check in details.

So now the extension is using the n

[2018-09-25 13:13] cyrilletuzi commented on #16
@pupizoid Can you test with [this beta](https://github.com/cyrilletuzi/vscode-angular-schematics/raw/shell/angular-schematics-1.8.0-beta.0.vsix)?

It should auto-detect your shell.

Btw, do you think auto-detecting shell args is relevant for this extension or not?

[2018-09-25 14:18] pupizoid commented on #16
@cyrilletuzi, thanks for quick answer! I've just tested beta and it works as expected, awesome!

I've found following setting:
[code]
I think auto-detecting shell will be enought for most cases of usage, but it would be better to have ability to set path to shell manually as an optional parameter.

[2018-09-25 14:46] cyrilletuzi commented on #16
@pupizoid Ability to change the shell manually is already managed by VS Code directly, via the settings you just quoted.

Do you know if shell args are relevant to this extension too?

[2018-09-25 14:57] pupizoid commented on #16
@cyrilletuzi, from [here](https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration), shell args seems to be specific to the shell launch and not to the other processes runned by this shell. But in case when user want to set integrated shell that requires specific args it would be good to allow setting args too.

[2018-09-25 16:06] cyrilletuzi commented on #16
Fixed in v1.8.

As I'm not sure how to manage shell args the right way, and as it doesn't seem important for this extension, v1.8 doesn't manage shell args. We'll see if someone open an issue about this.

[2018-09-25 16:07] cyrilletuzi commented on #16
@pupizoid Thanks for the issue and testing. Don't forget to leave stars on [VS Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics). 👍

[2018-09-25 16:32] cyrilletuzi commented on #16
@pupizoid Can you check it still works with v1.8.1? I had to release a patch to only allow custom shell on macOS and Linux (it was failing on Windows). Thanks.

[2018-09-25 21:19] cyrilletuzi commented on #16
@pupizoid Thanks again for testing. I'll keep this open until I have time to investigate about Windows.

[2018-09-26 19:47] cyrilletuzi commented on #16
I'll close this issue as it's fixed for macOs and Linux, where it makes sense.

Custom shell on Windows doesn't seem to be a common scenario, but if someone was to be concerned, please open a new issue.

[2018-09-26 19:47] #16 closed

[2018-10-01 19:04] cyrilletuzi commented on #6
Following  angular/angular-cli#12338, `ShadowDom` will be available in v7.

[2018-10-12 15:21] cyrilletuzi commented on #14
CLI v7.0.0-rc.3 added prompts for `name` for the main commands like `ng g component`. It doesn't infer with this extension as long as the launched command already contain the name.

But if future prompts are added for optional params, it could be an issue for this extension as the command would require user choice, which is not possible in the extension.

[2018-10-12 21:00] cyrilletuzi commented on #14
`no-interactive` is available for `ng new`, `ng generate`, `ng add`, `ng update`.

But in some context it is disabled by default. Will check.

[2018-10-13 08:43] cyrilletuzi commented on #14
The extension is currently doing the commands in a context where prompts are not enabled.

But if the extension was to switch to use the VS Code Terminal API, `--no-interactive` would be required.

[2018-10-13 08:43] #14 closed

[2018-10-13 09:19] #6 closed, assigned to cyrilletuzi

[2018-10-16 16:45] doggy8088 opened #17 "support use case for primeng-schematics"
I was trying [primeng-schematics](https://www.npmjs.com/package/primeng-schematics) with the Angular Schematics today.  I realized that they MUST accept `--name` option to generate a component.  Angular Schematics is unable to skip the NAME parameter at this time.  I have to input a fake name in order to generate a component successfully.

I also have a suggestion for [primeng-schematics](https://

[2018-10-16 17:31] cyrilletuzi commented on #17
Thanks for reporting this issue. As each schematic can do what it wants, it's quite hard for this extension to manage all cases. I'll check the `primeng-schematics`, correct the issues and add it to the default list.

[2018-10-16 17:59] doggy8088 opened #18 "Feature: add a button to auto scan for schematics"
I know there is a `"ngschematics.schematics": []` setting for add other schematics.  What if these packages can be detected automatically if these schematics package are already exists in `package.json` file?

[2018-10-16 18:31] cyrilletuzi commented on #18
`package.json` is not enough to know which packages contain Angular schematics or not. It would need to scan all the `node_modules` directories, and as explained by the README it would be too heavy.

[2018-10-16 18:36] cyrilletuzi commented on #17
This is not (yet) official schematics for PrimeNG. Do you know if the author is related to the PrimeNG team?

If those schematics are not official, as they are really new, I'll wait a little to see how it goes and that it fixes is own issues.

[2018-10-17 13:20] doggy8088 commented on #18
You don't have to scan all modules in the **node_modules** folder and sub-folders.  All you need to do is scan the packages with depth level 0 only ( `npm list --depth=0` ) and check for the `"schematics"` property in the `package.json`.  I don't think it's too heavy for most of the angular apps.

[2018-10-17 13:28] cyrilletuzi commented on #17
@doggy8088 OK, I'll let the issue opened, let me know when official schematics for PrimeNG are released. I'll add them in the default list.

[2018-10-17 13:36] cyrilletuzi commented on #18
Just tried: with `npm list depth=0`, there are indeed a reasonable quantity of packages, but just to launch the command, it already takes 5 seconds (as I suppose npm has to check the depth level). Then it would need to scan the remaining packages.

If we can defer the process, and ensure asynchronicity in every step, maybe there can be a way. But still, it should not be done each time the extensio

[2018-10-17 14:03] doggy8088 commented on #18
The `npm list depth=0` might not the ideal case to find out all the possible depth=0 packages.  What I thought is really simple:

1. List all the packages in `package.json` by just query it's json.  Just find out `devDependencies` packages.
2. Scan the `node_modules/PKGNAME/package.json` files and only look for `"schematics"` property in that file.  If yes, then it's very possible a schematics pac

[2018-10-17 14:31] cyrilletuzi commented on #18
Precisions:
- most schematics are in `dependencies`, not `devDependencies`;
- a detect button could be add in the Angular panel added by the lib.

I'll check that later, or feel free to do a PR.

[2018-10-18 18:01] doggy8088 commented on #18
It maybe most schematics are in `dependencies`, but it SHOULD be in `devDependencies` in my opinion.

[2018-10-18 19:58] Lightw3ight opened #19 "Issue when a project path contains `projects`"
When I try to create a new component with vscode-angular-schematics, I get the error

`Error: Project '@xxx/env1' could not be found in workspace.`

The actual command that is being run is

`ng g component folder/new-thingy --project @xxx/env1`

The name of the project is xxx, im not sure where the @ or the env1 comes from

Running the following manually works fine

`ng g component folder/new-thin

[2018-10-19 07:44] cyrilletuzi commented on #19
@Lightw3ight The extension adds `--project` when the command is launched from a directory inside the `projects` directory, meaning a library (generated by `ng g library`) or a secondary application (generated by `ng g application`). Can you confirm in which precise situation you are?

[2018-10-25 20:18] cyrilletuzi commented on #19
@Lightw3ight ?

[2018-10-25 20:20] cyrilletuzi commented on #17
Depends on primefaces/primeng#6187

[2018-10-30 10:17] cyrilletuzi commented on #19
Closing as no new, feel free to comment if there is something new.

[2018-11-08 12:14] cyrilletuzi opened #20 "--project is asked for advanced schematics"
When creating an advanced schematics (ex: a guard), the extension is asking for the project at the end of the process, when it should not.

Need to be investigated. Maybe related to Angular 7 changes.

[2018-11-20 14:31] cyrilletuzi commented on #20
Depends on angular/angular-cli#13010

[2018-11-29 14:09] cyrilletuzi commented on #1
Abandoning this one as the descriptions coming from schematics would stay in English, so translating the few labels in the extension is not very interesting.

[2018-11-29 14:09] #1 closed

[2018-11-29 14:11] cyrilletuzi commented on #17
Closing this one for now as the Prime team doesn't show any sign about this lately. Should Prime schematics be added, they will be added in this extension.

[2018-11-29 14:11] #17 closed

[2018-11-29 16:56] doggy8088 commented on #17
@cyrilletuzi It may release in [7.0.1 hopefully](https://twitter.com/cagataycivici/status/1065928827786932225).

[2018-11-30 16:37] dpecos opened #23 "Integrate with xprompt from NG 7 cli."

[2018-11-30 16:38] dpecos commented on #23
It would be nice if the plugin would read the xprompt message from the schema.json and display it in VSCode.

[2018-12-04 07:37] MattiJarvinen-BA opened #24 "Feature set ng binary"
Most our projects use local yarn / npm install of project specific cli version. So instead of globally installed ng we got project local angular-cli.

This means that VS Code Angular Schematics will fail:
[code]

A simple option to have user option to change binary run to `npm ng` or `yarn ng` would suffice or even as `./node_modules/.bin/ng`

Anyways this project is 🥇 thanks!

[2018-12-05 17:00] cyrilletuzi commented on #24
@MattiJarvinen-BA I ran into a similar issue myself recently (having a global version mismatched from the local one also cause some problems in some situations).

I'll try to make the extension use the local CLI instead of the global one. Just hope it wouldn't cause other issues (like people having the local CLI elsewhere than the default path).

[2018-12-06 10:12] cyrilletuzi commented on #24
Fixed in 1.11.

Please take some time to [star the extension on Visual Studio Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics). 👍

[2018-12-06 10:12] #24 closed

[2018-12-07 10:04] sashkr opened #25 "Doesn't work on Windows"
I can't generate any angular file.
I tried to generate component:
![image](https://user-images.githubusercontent.com/1886953/49640620-bbb18d00-fa16-11e8-82d1-4715cc5e151c.png)

As you can see from the image above, it generates some error which I can't understand because of weird encoding.
I copied command's text and pasted it in terminal window. That's what i got:
![image](https://user-images.gith

[2018-12-07 10:36] sashkr commented on #25
It seems this can help with encoding:
[https://github.com/nodejs/node-v0.x-archive/issues/2190](url)

[2018-12-07 10:48] cyrilletuzi commented on #25
@sashkr Thanks for reporting this issue.

It's not specific with Russian language, it's specific to Windows which have problems dealing with a relative command. Fixing this right now.

[2018-12-07 11:08] cyrilletuzi commented on #25
Fixed in 1.11.1.

[2018-12-07 11:08] #25 closed

[2018-12-07 11:11] cyrilletuzi commented on #25
@sashkr Please take some time to [star the extension on Visual Studio Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics). 👍

[2018-12-11 10:48] andriy101 commented on #17
Hello @cyrilletuzi  and @doggy8088, I really appreciate your feedbacks regarding my Primeng Schematics module. I am not related to official prime ng team. I will try to fix / approve / check approvements proposed by @doggy8088. Also I want to upgrade packages to 7th version and add new c-prompts. Thanks again

[2018-12-19 10:39] DDeis commented on #24
Hi @cyrilletuzi, I don't have a global installation of Angular CLI, after generating a new project with : `npx -p @angular/cli@latest ng new test-app` and trying to generate a component with vscode-angular-schematics 1.11.1, it fails with output telling :
[code]

Though changelog state that since 1.11.0 : `A global installation of Angular CLI is no longer needed, the extension will use the project

[2018-12-19 10:45] DDeis commented on #24
Tried to change vscode-angular-schematics version back to 1.11.0 and it's working fine !

Output:
[code]

(For information, I'm on macOS 10.14.2, VS Code 1.30.0, node 10.14.1, npm 6.4.1)

[2018-12-19 12:18] cyrilletuzi commented on #24
hi @DDeis, your comment is not clear, is it working or not?

[2018-12-19 12:56] DDeis commented on #24
Sorry, to sum up it's failing with version 1.11.1 but it's working when downgrading to version 1.11.0.

With 1.11.0 it's calling `./node_modules/.bin/ng`
With 1.11.1 it's calling `ng`

[2018-12-19 16:49] cyrilletuzi opened #26 "Local CLI not working in 1.11.1"
[code]

Though changelog state that since 1.11.0 : `A global installation of Angular CLI is no longer needed, the extension will use the project's local CLI (if installed in the default directory, ie. node_modules).`

Am I missing something ?

**EDIT**

I Tried to change vscode-angular-schematics version back to 1.11.0 and it's working fine !

Output:
[code]

(For information, I'm on macOS 10.14.2

[2018-12-19 16:54] cyrilletuzi commented on #26
@DDeis I'll look into this soon.

As a first feedback: v1.11.1 changed what is *displayed* in the output channel (just `ng`) but it's still internally doing the command `./node_modules/.bin/ng`, *if available*.

There is 3 things to investigate:
- check if the right local command is launched (and not the global one) > probably not this, as I tested it
- check if the detection of `./node_modules/.b

[2018-12-20 08:08] DDeis commented on #26
Thanks for your feedback, I just tried switching VS Code "terminal.integrated.shell.osx" back to default (bash) with no success, see output:
[code]

[2018-12-27 09:38] cyrilletuzi commented on #26
Fixed in 1.11.2.

@DDeis Thanks for reporting. Please take just one minute to star [the extension on Visual Studio Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics). 👍

[2018-12-27 09:38] #26 closed

[2019-01-04 14:54] Korbraan opened #27 "Support custom shells on Windows"
Hi!

I use Windows and WSL on my laptop, so I set the terminal.integrated.shell.windows setting to wsl.exe.
However, angular-schematics doesn't seem to use this setting as I have an error coming from cmd.exe.

Could you make the extension use the integrated shell setting on Windows so it will work with this kind of development environment?

[2019-01-04 15:13] cyrilletuzi commented on #27
This was done in #16, but because of an issue on Windows, I activated it for Mac and Linux only.

Can you try with version 1.8.0 (exactly) of this extension and tell me what happens?

Also, could you point me to steps to install and configure WSL, so I can do my own tests on my secondary computer?

[2019-01-04 16:17] Korbraan commented on #27
With version 1.8.0 I have another error but the extension use the right
shell.

An excellent article to install and configure WSL:
https://medium.com/@johnbwoodruff/epic-dev-environment-with-wsl-dc81e234ae61
(I use ZSH and nvm).

Le ven. 4 janv. 2019 à 16:13, Cyrille Tuzi <notifications@github.com> a
écrit :

[2019-01-04 18:09] cyrilletuzi commented on #27
So after investigation, it's because Node.js `exec` method pass `/d`, `/s`, `/c` as arguments to the shell on Windows, which is needed and works with the default shell, but seems to create issues with other shells. [Official documentation here](https://nodejs.org/api/child_process.html#child_process_shell_requirements) (chapter "Shell requirements" at the end).

I don't know how to solve this, so

[2019-01-04 18:44] cyrilletuzi commented on #27
@Korbraan To be sure: does the extension works on your Windows, even if it's not with your custom shell? If not, what is the error?

[2019-01-07 10:09] Korbraan commented on #27
I will look at these, but I need to set up a virtual environment so as not
to break my professional environment.

Thank you for your help, I will come back after some tests :)

Le ven. 4 janv. 2019 à 19:44, Cyrille Tuzi <notifications@github.com> a
écrit :

[2019-01-07 12:20] DDeis commented on #26
Awesome ! Thank you will do !

[2019-01-08 16:17] cyrilletuzi commented on #20
Angular CLI will partially fix the issue. `project` will still be marked as `required`, so the extension have to filter it.

Will fix that soon.

[2019-01-12 12:52] cyrilletuzi commented on #20
Fixed in 1.11.4.

[2019-01-12 12:52] #20 closed

[2019-01-16 11:12] cyrilletuzi opened #28 "Support local schematics"
Users could have local schematics in their project (not yet published).

The extension can load them too.

Fixed by #22.

Note that Nx workspace schematics require [additional steps](https://github.com/cyrilletuzi/vscode-angular-schematics/blob/master/docs/NX.md).

[2019-01-16 11:13] cyrilletuzi commented on #28
Released in v1.12.

[2019-01-16 11:13] #28 closed

[2019-01-28 20:41] michaeljota commented on #19
@cyrilletuzi I'm having the same issue. Every time I try to create something with this in a folder, the command is created with `--project @parentFolder/projectFolder`. Maybe this should get the project from the `angular.json` or something? So far I've been unable to use this, but I still have it installed. :P

[2019-01-28 21:56] cyrilletuzi commented on #19
@michaeljota I can't reproduce your issue. I need a reproduction or at least more details about your directories structure.

[2019-01-28 22:03] michaeljota commented on #19
@cyrilletuzi

Project Directory:
[code]

Command generated by VSCode Angular Schematics when selecting `Angular: Create a component` in context menu after right clicking in `app` folder.

[code]

[2019-01-29 01:48] Lightw3ight commented on #19
Really sorry about not replying, I completly forgot about the issue

I just came back to trying to use the extension

This time I created a new app using the cli (Not a library), using the latest cli and angular
If I right click on any folder from `src/app` down and try to generate a component or module, it always appends the following to the command it intends to run
--@[Parent Folder]/[Project F

[2019-01-29 07:46] cyrilletuzi commented on #19
Ok. When you generate a library with `ng g library` it goes in `projects/...`, a case the extension tries to detect.

So there is probably an issue in detection because your path contains `projects`. I'll quickly look at that to fix.

[2019-01-29 15:09] michaeljota commented on #19
I think this should relay more on the `angular.json` file. Even to activate itself automatically only when finding that file (or the old `.angular-cli.json`), and give the choose to activate it when not.

The `angular.json` file has all the information needed about all the projects in the folder. The `projects` folder can be changed, and it could contain another applications as well.

[2019-01-29 17:36] cyrilletuzi opened #29 "Support auto-detect of project with custom configurations"
Currently, the extension auto-detect the project (for librairies and multiples apps) if right-click was done inside the default CLI directory for that: `projects`.

It could use info in `angular.json` to support custom directories too.

[2019-01-29 17:39] cyrilletuzi commented on #19
Fixed in 1.12.2.

I opened #29 to add support for custom directories for libraries and multiple apps (I'll do that soon).

@Lightw3ight @michaeljota  Thanks for reporting. Please take just one minute to star [the extension on Visual Studio Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics). 👍

[2019-01-29 17:39] #19 closed

[2019-01-29 17:44] cyrilletuzi commented on #19
Btw, as you are working on Windows, if you have any idea to solve #27, it would be greatly appreciated.

[2019-01-29 18:10] michaeljota commented on #19
Thanks! Will look at it and see if I can help.

[2019-01-29 18:48] Lightw3ight commented on #19
Awesome, works perfectly :)

[2019-01-30 14:54] andriy101 opened #30 "support primeng-schematics"
Hello,

if possible, add my primeng-schematics (V7 now) support: https://github.com/andriy101/primeng-schematics

[2019-01-30 15:36] michaeljota commented on #27
@Korbraan They should not work with WSL, as this is a know issue. There is not issue reference, but is in the VSCode roadmap [WSL Support](https://github.com/Microsoft/vscode/wiki/Roadmap#wsl-support).

So far, extensions are not able to use the WSL, so this is not addressable right now, but maybe in a couple of months.

[2019-01-30 20:59] cyrilletuzi commented on #27
@michaeljota Thanks for you feedback but I don't think the issue is on the VS Code side. This extension uses the Node.js `exec` function to launch the CLI commands, and it's not working with Windows custom shells as the `exec` function auto-pass some args that seem incompatible with other shells than `cmd`. It's not even working with PowerShell, which seems quite strange.

[2019-01-30 23:27] Lightw3ight opened #31 "path argument used for name / default argument"
When you right click and select `Angular: Generate a component` the path you right clicked on is used to populate the first propt `Name or pathname`
The value of this prompt is then used as the _default_ argument, which according to the `schema.json` for the component schematic should be the `name` argument
[code]
There is a separate argument for path defined in the `schema.json` that should be po

[2019-02-01 19:55] cyrilletuzi opened #32 "Problem with new behavior of guard schematics in CLI 7.3"
In Angular CLI 7.3, via angular/angular-cli#13109, there is now an `implements` option for the guard schematics, to generate all possible guards (`CanActivate`, `CanLoad`, `CanActivateChild`...), while before it was always generating a `CanActivate` guard.

The idea is nice, but the implementation is currently a mess:
- generating a guard without the `implements` option result in a file with synta

[2019-02-02 14:40] cyrilletuzi opened #34 "UX improvements"
- [x] use `x-prompt` messages when available > PR #33
- [x] pre-select required options > PR #36
- [x] filter unecessary options (`name` ?) > PR #36
- [x] pro-tip for path and `project` telling they can be auto-detected by the extension > PR #37
- [x] many users discover this extension via a pack, then having not read the instructions, so what they'll see is the Angular view: but it's easier to la

[2019-02-02 14:40] cyrilletuzi commented on #11
Closing in favor of #34

[2019-02-02 14:40] #11 closed

[2019-02-02 17:36] cyrilletuzi commented on #32
Note of investigation: the extension could ask for options `required` or with an `x-prompt` but some options can have `x-prompt` and not be required (like `routing` or `style` in `ng new`, but the extension is not in concerned by `ng new`, so I need to check all other schematics).

[2019-02-04 14:52] cyrilletuzi commented on #30
Hi @andriy101, thanks for showing interest in this extension.

I'll check if your schematics works well with the extension, and if so, I should add them in the default collections.

Be aware you can already use them with the extension with the `ngschematics.schematics` option (see README).

[2019-02-04 15:02] cyrilletuzi commented on #31
Hi @Lightw3ight, thanks for caring about this extension.

This is the normal behavior of the CLI. As you can see in the code you showed, `path` is an invisible option, meaning this is not to be used directly by the user (and the extension never shows such options).

It's a tenable argument to say it's not consistent on a dev level, but it's very useful for the user to manage the two options at the

[2019-02-06 20:28] Lightw3ight commented on #31
Thanks @cyrilletuzi I will have a play around and a dig into how the angular ones do it.

Also, thanks for building this extension, I use schematics so much more now i can use them through your extension, its fantastic :D

[2019-02-06 21:19] cyrilletuzi commented on #31
@Lightw3ight OK, closing this one for now then, but feel free to comment if there is anything new, and I will reopen the issue.

I'm glad you like the extension. Please take a few seconds to star it on [VS Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics). Unfortunately I don't get any official support, so this is the only way to make the extensi

[2019-02-06 21:19] #31 closed

[2019-02-06 22:02] Lightw3ight commented on #31
Already have :D

[2019-02-16 13:19] cyrilletuzi commented on #23
It's relevant in very few places, but for info it's done in v1.17.

[2019-02-16 13:20] cyrilletuzi commented on #23
@dpecos Thanks for the suggestion. Please take a few seconds to star the extension on [VS Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics). Unfortunately I don't get any official support, so this is the only way to make the extension known. 👍

[2019-02-19 15:47] ibenjelloun commented on #29
When I try to generate a component in a library of a `@nrwl/schematics` workspace, the component is generated in the default app project. Is it related to this issue ?

[2019-02-19 17:11] cyrilletuzi commented on #29
@ibenjelloun if the tool deviates from the default CLI directories structure (`/projects/*/src/lib` or `/projects/*/src/app`), then yes.

Support for custom configurations is coming soon, but for now you can still do it by choosing "Generate an advanced schematics" and using the `project` option.

[2019-02-23 11:28] #29 closed

[2019-02-23 11:37] cyrilletuzi commented on #29
@ibenjelloun Released in v1.18.

Please take a few seconds to star it on [VS Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics). Unfortunately I don't get any official support, so this is the only way to make the extension known. 👍

[2019-03-01 10:01] #30 closed

[2019-03-01 10:13] cyrilletuzi commented on #30
Hi @andriy101, it's released in v1.19.

Please take a few seconds to star the extension on [VS Code marketplace](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics) and feel free to recommend it in your docs. 👍

[2019-03-01 14:26] smnbbrv commented on #34
Another suggestion: when I run the command from Shift + Cmd / Ctrl + P it would make sense to write in a currently highlighted folder / file in the tree (depending on schematic :) ) and / or the currently open file

I guess the same would happen if I assign the hot keys on those lovely commands.

In order to avoid annoyed users it would be good to
- either select the whole input that it gets direc

[2019-03-01 14:49] cyrilletuzi commented on #34
@smnbbrv Thanks for your feedback. As the path (and project) are already inferred when doing a right-click on a directory in the files explorer, what would be the benefit to launch the commands from the command palette instead?

[2019-03-01 16:37] smnbbrv commented on #34
This could be useful if I open the module with CTRL + P and then want to add component. Another example is I click with mouseleft on the folder name and press a hot key. The hot key is in the end just a representation of command palette...

[2019-03-02 08:19] distante opened #40 "OnPush Option does not work when creating component."
I created a component named `TrainingOptions` using "Advanced Component", I marked it as *entry component*  and *change detection On Push*

The generated `ng` cli was:

`ng g component components/config-menu/TrainingOptions --changeDetection OnPush --entryComponent`

The equal sign is missing here `-changeDetection OnPush` so the component was created without changeDetection

![image](https://user

[2019-03-02 09:16] cyrilletuzi commented on #40
@distante Thanks for your feedback.

The equal sign is not required, so it's not the problem here.

The only situation where I can reproduce your issue is with an outdated version of the CLI and having set a default for `changeDetection` in `angular.json`. But when it happens, it also happens directly with the CLI, so it's not an issue with this extension.

Can you:
- tell me your exact current ve

[2019-03-02 09:18] cyrilletuzi opened #41 "Jump to file is not working in all scenarios"
When generating a file, the extension automatically opens it most of the time.

But sometimes it doesn't work:
- with some advanced paths,
- with third-party schematics which doesn't follow the same message pattern as the official CLI (`CREATE ...`).

[2019-03-02 09:21] cyrilletuzi opened #42 "Ensure files explorer refresh"
Usually, VS Code auto-refreshes the files explorer when files are created.

But sometimes it doesn't work, and it seems to happen more frequently in last version.

Would be nice if the extension can ensure this.

[2019-03-02 10:39] distante commented on #40
Hi @cyrilletuzi

I have version 7.3.3
[code]

About the schematics, I use it on an Ionic Project which uses :
[code]

but I override the options using:

[code]

I have updated the cli to 7.3.4 with the same result. BUT as you said it happens also with the CLI, so I it is a problem with my environment (no idea where thought) .

[2019-03-02 10:39] #40 closed

[2019-03-02 19:45] cyrilletuzi commented on #40
@distante As I was able to reproduce the issue in one case, the issue doesn't seem to be specific to your project, so once you isolate the problem, I would advise to open an issue in Angular CLI repo.

As it has consequences for this extension, please keep me in touch so I can follow.

[2019-03-04 17:59] #42 closed

[2019-03-04 18:04] cyrilletuzi commented on #42
Released in v1.21.

@smnbbrv Thanks for reporting.

[2019-03-04 18:56] smnbbrv commented on #42
👍

[2019-03-06 15:31] distante commented on #40
Hi @cyrilletuzi just to do an update. I still haven't found what exactly is the problem but I am able to reproduce this problem consistently.

If you creates (or clones) an [ionic project](https://www.npmjs.com/package/ionic) and after that updates the angular cli to the latest version the problems happens (if you do not updates the cli it does not recognize the `--changeDetection` flag

[code]

[2019-03-10 20:38] Lightw3ight opened #44 "project option not added if it's secondary project set as default"
I have a solution with 4 projects

3 projects are in the projects folder
`/projects/[project-name]`
1 project is in the default location
`/src`

The default project as configured in my `angular.json` file is one of the projects located in the `/projects` folder

If I right click on a folder located inside the **default** project which as stated above exists within the `/projects` folder and select

[2019-03-11 15:32] cyrilletuzi commented on #44
According to angular/angular-cli#11111, this is the expected behavior from the CLI, and `defaultProject` may be deprecated.

I'll release a fix to adapt to this behavior, thanks for pointing this @Lightw3ight.

[2019-03-11 15:49] #44 closed

[2019-03-11 15:52] cyrilletuzi commented on #44
Fixed in 1.22.

[2019-03-14 20:50] Lightw3ight commented on #44
Awesome, thanks heaps, such a great extension :D

[2019-04-14 17:16] tayambamwanza commented on #34
Also adding this even though vs code does not support this yet, please add icons for the options.
![generate-component](https://user-images.githubusercontent.com/11971384/56096531-c8c11a00-5ee9-11e9-9fc3-f31ec251b561.png)

[2019-04-14 20:20] cyrilletuzi commented on #34
Hi @tayambamwanza, thanks for your feedback.

From which extension comes your screenshot?

[2019-04-15 04:53] tayambamwanza commented on #34
@cyrilletuzi actually it's not an extension it's stackblitz, it's built into the stackblitz ide

[2019-04-16 12:38] roseyda opened #47 "Not working on portable vsCode"
Hi,
I use your extension since a couple of month, and it's great.
For a new job I do not have admin right on windows and therefore I'm using a portable version of vscode (https://portapps.io/app/vscode-portable/).

Unfortunately, your great extension does not work on this portable version :-(

Context menu is available but nothing happen when clicking on "Angular: Generate ..."
The icon is visible

[2019-04-16 12:49] roseyda commented on #47
Additional info:
Just after the installation, the icon is visible on the left menu, but after reloading the window it disapear.

[2019-04-17 04:53] roseyda commented on #47
My bad, the issue was on my configuration

[2019-04-17 04:53] #47 closed

[2019-05-04 22:48] ktrls opened #48 "some problems in Windows10"
Hi, I installed these extension but I can able to use it.

If I click on the right button of the mouse on an empty folder there aren't extension choices.
Then I create a new app wit ng new <app name> and again no choices in the context menu.
I tried to use command by MVSC console (for example to create a component) but it say: command 'ngschematics.generateComponent' not found.

What is my error?

[2019-05-05 08:13] cyrilletuzi commented on #48
Hi. As stated in the "Requirements" chapter of README:

If it wasn't the problem, just tell me and I'll reopen the issue.

[2019-05-05 08:13] #48 closed

[2019-05-05 09:31] ktrls commented on #48
I read the requirements and I don't know if I have done right or wrong.
When I began the project I created an empty workspace and added the backend project. Then I have created the Angular folder and added too.

If I understand your suggestion I have to create a new workspace from the Angular folder and afte that add the backend project.

I have tried now but nothing changes

Sorry but this is my

[2019-05-05 09:42] cyrilletuzi commented on #48
The order of the projects doesn't matter. You should have 2 folders opened *in the same workspace* with one of them being the *root* directory of your Angular project (ie. with `angular.json` at the root of the folder). And *not* 2 different VS Code *windows*.

[Official doc of VS Code multi-root workspaces](https://code.visualstudio.com/docs/editor/multi-root-workspaces)

[2019-05-05 09:54] ktrls commented on #48
ok, I don't know where is my trouble but seems that I make the right way.

This is my situation now

![immagine](https://user-images.githubusercontent.com/8734356/57192045-7e511d00-6f2c-11e9-8f36-eee7279b4a18.png)

[2019-05-05 11:06] cyrilletuzi commented on #48
OK it's just because your Angular config file doesn't have the good name, so the extension activation is not trigerred. It should be:
- `.angular-cli.json` (with a dot) in Angular < 6 projects
- `angular.json` in Angular >= 6 projects

[2019-05-05 14:01] ktrls commented on #48
ok, I have checked my Angular version and was an old version. So I have renewed Angular and Angular-cli and then all is ok.

Thanks you for your patience and your precious help

Bye
Salvo

[2019-05-06 16:31] victorschinaider opened #49 "Support Yarn/npm workspaces"
In my project, i'm using `yarn` workspaces.
It's my folder structure:

[code]

When yarn is using workspaces, it creates a node_module folder at root directory with almost all dependencies of subprojects. Extensions is not identifying this behavior.

PS.: Realize that app (the project that has angular framework) has your own `package.json`, so it's the root directory too.

[2019-05-06 16:45] cyrilletuzi commented on #49
Currently, as stated in README, it's a requirement to open the Angular project as the root dir:

This is a VS Code extension, so *VS Code* workspaces should be used to open your yarn workspaces.

But is a direct usage of Angular CLI working with your configuration? Last time I tested, the CLI itself required to be in the root directory.

If the CLI supports it, adding support for yarn workspaces c

[2019-05-06 17:01] victorschinaider commented on #49
@cyrilletuzi , i perfectly undestand.
If i open the "app" directory as root, it not works too.

[2019-05-06 17:05] cyrilletuzi commented on #49
Is `angular.json` present at the root of the `app` project?

And is a direct usage of Angular CLI (from the terminal) working with your initial configuration?

[2019-05-07 09:54] victorschinaider commented on #49
Yes for both questions.

[2019-05-07 10:03] victorschinaider commented on #49
I see the code superficially, so i maybe be wrong.

[code]
Are you searching for parent `node_modules` folders, as specified in NodeJs specs?
https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders

[2019-05-29 05:15] sukheja-varun opened #51 "Node config issue with nvm and VS Code on Linux or macOS"
Unable to execute any command using the plugin, getting below error

[code]

I am using nvm (node version manager) instead of default node installed on root. All node versions are present inside .nvm folder.
So might be this plugin is not getting the node path.

So how do I define my node path for this plugin ??

[2019-05-29 11:26] cyrilletuzi commented on #51
Thanks for your feedback.

The extension is not using your global Node. For its own code, the extension being inside VS Code, it uses the Node version included in VS Code (as it's an Electron app).

I suppose it's the Angular CLI which can't find your Node installation. Are the `ng g` commands working when you launch them directly inside the VS Code terminal?

[2019-05-29 11:28] sukheja-varun commented on #51
Yes all ng commands works in vs code terminal, as I have set the terminal as zsh in my vs code settings and zsh loads default node mentioned by nvm.

[2019-05-29 11:35] cyrilletuzi commented on #51
The extension is already taking the VS Code terminal config into consideration, so it's strange.

Do you confirm:
- you're using macOS or Linux?
- that `terminal.integrated.shell.osx` or `terminal.integrated.shell.linux` are set in your VS Code config?
- that this config is applied to the workspace where you're trying to use the extension?

[2019-05-29 11:40] sukheja-varun commented on #51
Below are the details:-
- Ubuntu 18.10
- "terminal.integrated.shell.linux": "/usr/bin/zsh",
- I am able to use zsh terminal in my workspace/project

[2019-05-29 12:16] cyrilletuzi commented on #51
Thanks. Can you point me to the Quokka issue/PR so I can check if it's the same issue?

[2019-05-29 12:18] sukheja-varun commented on #51
Quokka provides it in their doc, have a look
https://quokkajs.com/docs/configuration.html#nodejs-version

[2019-05-29 12:21] cyrilletuzi commented on #51
I need to see the code of the extension, so if you have the issue/PR link it would help a lot.

[2019-05-29 12:35] sukheja-varun commented on #51
I am sorry but I don't have any git issue/PR
I can just tell you the quokka error message
[code]

[2019-05-29 15:44] cyrilletuzi commented on #51
Well for now I would stay on the idea that the extension is not the issue. The error you reported in your first message has a lot of occurence on Google Search results, and it's always a problem of user config. Could you try some troubleshooting about your Node install (uninstall / reinstall, check it's your `PATH`, in your bash profile, etc.)?

[2019-05-30 06:15] sukheja-varun commented on #51
With normal node installation, the path is fixed but with nvm, there are different versions of node installed on a system, and we keep changing the node version as per project need.
As quokka provides the solution for users using nvm instead of node directly as shown in https://quokkajs.com/docs/configuration.html#nodejs-version, you can too provide a param for providing node path for the plugin.

[2019-05-30 07:37] cyrilletuzi commented on #51
There is no evidence at all that the issue is the same as in the Quokka extension (whose code is not publicy available).

Again, this extension is a VS Code extension, so the Node used is the one included in VS Code itself, as it's an Electron app, no matter your global installation. Then, it launches a command in the terminal, eitheir the default one, or the one specified in `terminal.integrated.

[2019-05-30 07:50] cyrilletuzi commented on #51
There is nowhere in the lib where the `node` command is launched directly. It's the Angular CLI which must be do that, meaning that from where the CLI is launched, Node is not properly configured.

Problem is I can't reproduce your issue so it's not easy to help you. Can you tell me what happen when you do:
- `node -v`
- `npm -v`
- `ng version`
From:
- your zsh bash
- your default bash

This could

[2019-05-30 08:46] sukheja-varun commented on #51
ZSH is the default bash and below are the result for commands:
- node -v => v12.2.0
- npm -v => 6.9.0
- ng version =>
 Angular CLI: 7.3.9
Node: 12.2.0
OS: linux x64
Angular:
...

[2019-05-30 08:51] cyrilletuzi commented on #51
By your default bash I mean the default terminal of your OS with the default bash (as one option could be that the extension open the wrong terminal).

Also, even if I don't think it's the issue, it could be worth a try to check with Node 10 instead of 12 (as Angular CLI doesn't officially support Node 12 yet).

[2019-06-02 15:02] QBseventy commented on #51
Had the same issue, running node under control from nvm showed the same errors.
"not-really" fixed it by installing corresponding nodejs (apt-get style) on ubuntu following instructions from https://github.com/nodesource/distributions/blob/master/README.md#deb

[2019-06-03 09:01] cyrilletuzi commented on #51
@QBseventy Thanks for your help!

What do you mean by "not-really fixed"?

[2019-06-03 17:13] sukheja-varun commented on #51
@cyrilletuzi Is it possible to change the default terminal for the plugin ?

@QBseventy nodejs (apt-get style) on ubuntu will download the node on ubuntu and in that case there will be no great use of node ?

[2019-06-03 18:16] cyrilletuzi commented on #51
@sukheja-varun It is already: the extension uses the terminal configured in `terminal.integrated.shell.osx` or `terminal.integrated.shell.linux`.

[2019-06-08 09:48] QBseventy commented on #51
Well as @sukheja-varun already mentioned the schematics now work for me, but nvm became a kind of useless.

[2019-06-17 07:13] cyrilletuzi commented on #51
If it works when Node is installed the classic way, it's clearly a mismatch in configuration somewhere. I see 2 options:

- the only way where the extension could be responsible is if it doesn't launch the right terminal: that's quite unlikely because in the terminal detection done by the extension, Linux is the default. But I'll try to reproduce your environnement to be sure;

- otherwise it mean

[2019-06-17 08:25] cyrilletuzi commented on #51
Unfortunately I don't have a machine with Ubuntu at hand. I tried with Windows WSL but I can't debug extensions in VS Code with that. So I can't do the check and I'll need help from someone with Ubuntu.

Steps to reproduce in an Ubuntu with ZSH installed:
- in your OS terminal, go to the directory of your choice
- `git clone https://github.com/cyrilletuzi/vscode-angular-schematics/`
- open the cre

[2019-06-17 13:02] konieczny9lives commented on #51
Hi,

I am also using `zsh` and `nvm` on linux. I got the same error message as stated in this issue after upgrade to Angular 8 and uninstalling `nodejs` (debian package).

I suspected schematics package, but run above-mentioned steps by @cyrilletuzi and confirmed that the package is using the correct shell.

After reading https://github.com/Microsoft/vscode-docs/blob/master/docs/editor/integrated-

[2019-06-17 19:05] cyrilletuzi commented on #51
@konieczny9lives Thank you for your help!

@sukheja-varun @QBseventy Is the solution proposed working for you?

[2019-06-18 04:13] sukheja-varun commented on #51
[code]
This is my path and nowhere it contains default node, it just contains default nvm path

[2019-07-02 20:58] Dj-jom2x opened #53 "Adding community new schematics"
like if there's *-routing.module.ts  inside where you right click.. it will auto add there.. or have an option to do it? :) btw this is nice plugin

[2019-07-03 07:19] cyrilletuzi commented on #53
Hi, thanks for your feedback.

This extension is just *using* schematics, it doesn't add new ones or modify the existing ones.

Supplement this extension with community schematics would be a nice idea, but it would need a lot of time that I doesn't have now. It would also need some rules to know which schematics we accept or not.

[2019-07-08 14:52] anxorl opened #54 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `angular-schematics`
- Extension Version: `1.23.0`
- OS Version: `Linux x64 4.19.0-5-amd64`
- VSCode version: `1.36.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/anxo/cyrilletuzi.angular-schematics-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extens

[2019-07-08 16:08] cyrilletuzi commented on #54
Hello, I don't understand your message:
- what is this file path?
- the link to wiki doesn't work.

[2019-07-08 19:28] anxorl commented on #54
I'm sorry. The message was generated automatically by vscode and I forgot to attach the file. Anyway, I cannot investigate more about this error and, maybe was caused by some specific conditions on my system at that moment.
I will close this issue.
Thanks again for your time

[2019-07-08 19:28] #54 closed

[2019-07-23 07:22] t-zander commented on #51
I had the same issue. I am not sure what the reason is, but for me, solution was to launch vsCode from terminal, not from UI.
So I went to folder where my project was.
Entered
`code .`
If opened this way, the extension seems to work. Although I am not sure why it happens this way.

[2019-07-23 09:16] sukheja-varun commented on #51
thanks @t-zander  it works for me as well
@cyrilletuzi  it works if vs-code is opened via terminal

[2019-07-23 09:25] cyrilletuzi commented on #51
Thanks for the feedback!

Maybe it would be good to file an issue in VS Code repo.

[2019-08-08 20:18] cyrilletuzi commented on #51
@sukheja-varun @QBseventy @konieczny9lives @t-zander Can you follow instructions in #56 and tell me if it solves this issue? The last VS Code update introduced a new API for extensions that may solve this problem.

[2019-08-08 20:19] cyrilletuzi commented on #27
@Korbraan @michaeljota Can you follow instructions in #56 and tell me if it solves this issue? The last VS Code update introduced a new API for extensions that may solve this problem.

[2019-08-10 12:18] cyrilletuzi commented on #51
Oops, the issue number was wrong so there was no link, it's #55.

[2019-08-10 12:18] cyrilletuzi commented on #27
Oops, the issue number was wrong so there was no link, it's #55.

[2019-08-20 23:33] endlessracingz opened #56 "Output shows Angular CLI command but it does not run"
The "Output" tab shows the Angluar CLI command but it does not run. If I copy and paste the command in to the "Terminal" tab it will run appropriately.

![image](https://user-images.githubusercontent.com/6493594/63391667-2964d580-c368-11e9-9093-656859e1249c.png)

![image](https://user-images.githubusercontent.com/6493594/63391681-3b467880-c368-11e9-9e3c-318483a7c0a7.png)

VSCode v1.37.1 on Windows

[2019-08-21 08:50] cyrilletuzi commented on #56
Thanks for your feedback. But I can't reproduce the issue with the same config.

Can you tell me:
- your Node version?
- is Node installed the classic way or with a special tool like `nvm`?
- are you using a special / non-default shell/terminal?

[2019-09-08 18:04] cyrilletuzi commented on #56
As there is no news, I'm closing this issue for house-keeping. Feel free to comment and I'll reopen it.

[2019-09-09 16:19] endlessracingz commented on #56
Sorry I did not respond previously. The email notifications went in to my spam folder.

- Node v10.16.3
- Node installed the classic way
- I'm using powershell as the default terminal in VS Code

[2019-09-13 13:20] cyrilletuzi commented on #56
Unfortunately I can't reproduce this issue in a similar environment, and I have no idea why the command would hang.

Can you test with the beta version in #55?

[2019-09-13 20:18] endlessracingz commented on #56
I installed the beta version you linked and it is no longer hanging but I get this error:

![image](https://user-images.githubusercontent.com/6493594/64892321-f5a86300-d628-11e9-9467-f1e7cb114955.png)

[2019-09-15 09:04] cyrilletuzi commented on #56
Unfortunately I have no further idea how to debug your issue for now, so I'll leave the issue opened in case someone can help.

For v2, I'll explore again the solutions to run the commands, as using Node directly has caused a lot of issues, not just this one. I hope to find something which would fix this.

[2019-10-11 10:07] cyrilletuzi opened #58 "Integrate new `type` option for components"
Via angular/angular-cli#15754, Angular CLI v9.0.0-next.9 introduces a new `type` option for components to change suffix from `component` to anything else (like `modal`, etc.).

While as any option it will be proposed by this extension in the advanced scenario, as it's a common need, it would be useful to integrate it in the simplified component generation flow.

[2019-10-22 12:37] #58 closed

[2019-10-28 07:54] awarche commented on #7
at least there should be error message. not just a silent nothing

[2019-10-28 08:28] cyrilletuzi commented on #7
@awarche Feel free to submit a Pull Request. At least README should be read.

[2019-11-26 11:11] kvetis opened #75 "Project not determined on Windows when projects are not using the default path"
Vs code
[code]

The project is not determined correctly on my windows machine.
I've taken time to determine where the problem lies:
On https://github.com/cyrilletuzi/vscode-angular-schematics/blob/b2382cc8869487ba2c5695b26d65d62453145998/src/schematics/generate.ts#L104

the `contextPath` is in unix format, because it was read from the `path` parameter of the `Context`, therefore it has a leading s

[2019-11-26 11:45] cyrilletuzi commented on #75
Thanks for your report and your debugging.

I'll plan a fix for later this week.

As a side note, the code for paths management is indeed quite messy for several reasons (it was my first steps in VS Code extension authoring and as I use a Mac, it's difficult to test every single change on Windows). But I planned a general refactoring and automated tests (help welcomed about the last).

[2019-11-26 11:47] cyrilletuzi commented on #75
Question: do you now if the issue was introduced by a newer version of VS Code? It seems strange that such a general issue didn't raised before.

[2019-11-26 11:53] kvetis commented on #75
I've had the issue since I started working on a project this July and I always thought the problem was caused by a misconfiguration of the project rather by the extension. I'm not sure when it was the last time I had used the extension before that. Only today I became too bothered by the need to add --project everywhere, so I dug deeper.

[2019-11-26 12:01] cyrilletuzi commented on #75
Ok, thanks.

[2019-11-28 20:28] cyrilletuzi commented on #53
Closing this one as it would be another project and it's already possible to add your own schematics.

[2019-11-28 20:28] #53 closed

[2019-11-28 20:30] cyrilletuzi commented on #41
Moved this one into #34

[2019-11-28 20:30] #41 closed

[2019-12-02 20:28] cyrilletuzi commented on #75
@kvetis Didn't forget you but my agenda was busier then expected.

While your debug seems right, I can't reproduce your issue. I'd need to have details of the directories structure, and which directory exactly is opened as the project inside VS Code.

[2019-12-03 13:11] kvetis commented on #75
@cyrilletuzi I believe any workspace that does not have default `projects` as a project root demonstrates this issue. The project won't match https://github.com/cyrilletuzi/vscode-angular-schematics/blob/a58e6ab7563fd67c8ad13227657a526692e6ed93/src/schematics/generate.ts#L120.

I have created a [sample workspace](https://github.com/kvetis/vs-schematics-sample) using these steps:
[code]
You can jus

[2019-12-03 18:21] cyrilletuzi commented on #75
Thanks, reproduced. I'll plan a fix soon.

[2019-12-06 16:22] #75 closed

[2019-12-06 16:25] cyrilletuzi commented on #75
This is fixed in 2.2.1, just released (may take a few minutes to appear). Can you confirm it fixes the issue in your case too?

Thanks a lot for your report and debug, that allowed me to do the fix quickly.

[2019-12-09 11:39] kvetis commented on #75
@cyrilletuzi Great, I tested in our project and it works! Thx for the fix.

[2019-12-20 18:35] cyrilletuzi opened #85 "`implements` choice for guard is not working with Angular 9"
Angular 9 CLI seems to have changed the schema of the `ng g guard` schematics, so the `implements` option is not a select list anymore in the extension, but have to be filled manually.

[2019-12-20 20:35] #85 closed

[2019-12-23 15:45] gbrugiere opened #87 "Problem with word "app" appearing twice in path"
(on Windows)
Hi Cyrille,
In our company, we put our projects in subdirectories within an "app" directory. We have created a new Angular project, we have a problem using the wizard.

I.e. : the new project is in a `D:\workspace\app\ourCustomer\ourProject\web\angularProject`.
Triing to create a new component with right clicking in `D:\workspace\**app**\ourCustomer\ourProject\web\angularProject\src\*

[2019-12-23 16:14] #87 closed

[2019-12-23 16:16] cyrilletuzi commented on #87
@gbrugiere Thanks for the report.

Fixed in v2.3.2.

[2020-01-03 09:06] cyrilletuzi opened #92 "e2e tests"
VS Code official documentation shows how to do unit tests for an extension. Unfortunately, there is no official documentation to do e2e tests, which is what would be useful for this extension.

So if anyone knows how to setup e2e tests for a Visual Studio Code extension, help would be very welcomed.

[2020-01-05 05:11] Dj-jom2x opened #93 "Project definition could not be found"
seems creating service doesnt ask anything and nothing happen and if you create component this message shows

`"The generate command requires to be run in an Angular project, but a project definition could not be found."`

[2020-01-05 10:40] cyrilletuzi commented on #93
As stated in the changelog, there was no code change in v3.0, it was just a bump of minimal VS Code and Angular versions requirements. So it's highly unlikely that v3.0 is the issue.

I tested (again), and it works well both in Angular 8 and 9, and both on Mac and Windows. So:
- did it worked with v2.x?
- the error message is quite explicit, so do your workspace meet the requirements stated in the

[2020-01-05 15:09] Dj-jom2x commented on #93
v2 is fine.. but I update it :( I always do update it

[2020-02-13 15:05] cyrilletuzi commented on #93
Closing this issue for house-keeping, as there is no news. Feel free to comment with more info and I'll reopen it.

[2020-02-13 15:05] #93 closed

[2020-02-21 15:02] #34 closed

[2020-02-21 15:03] cyrilletuzi commented on #18
Defaults schematics have been refactored to be in a [simple file](https://github.com/cyrilletuzi/vscode-angular-schematics/blob/master/src/schematics/defaults.ts), which is mentioned in the README.

So it's now easy for any user to do a quick PR to add schematics.

So I'll close this issue.

[2020-02-21 15:03] #18 closed

[2020-02-21 15:04] #92 closed

[2020-02-21 15:09] cyrilletuzi commented on #12
I'll close this issue as:
- it would be a lot of initial work for a very limited advantage: you don't add a lib every day and it's a one-time command,
- it would be a lot of maintenance to keep the list of existing libs up to date,
- it's better to check the documentation of the lib (for requirements, special instructions...) before adding any tool.

[2020-02-21 15:09] #12 closed

[2020-02-22 09:28] andreialecu commented on #49
Monorepos are a quite common pattern and yarn workspaces are the most common tool for the job.

The Angular CLI works without problem with yarn workspaces.

I think this extension could just search for an `angular.json` within the nearest parent folder instead of the root. Other extensions, such as `vscode-eslint` properly understand eslint configurations within various directories and know to run

[2020-02-22 09:39] cyrilletuzi commented on #49
Agree.

Pure assumption. Angular CLI provides an official way to do monorepos, and it's *not* with yarn workspaces (`ng new --createApplication false`, and then `ng g application` for each new project).

Sure. Never said it's not possible or that I was opposed to this feature. As the issue label says: "help wanted". A PR or at least pointing to the code in `vscode-eslint` that allows to manage thi

[2020-02-22 14:06] andreialecu commented on #49
I think it's common to have an angular project and perhaps a backend project such as one made with NestJS.

Regarding vscode-eslint, some references:
https://github.com/Microsoft/vscode-eslint#mono-repository-setup

https://github.com/microsoft/vscode-eslint/blob/98079ad1a31a85bb8b8d0c6d1faa048318ff2a61/client/src/extension.ts
Search for `workingDirectories`

[2020-03-01 16:14] hegedis-andor opened #110 "Cannot generate on right click in workspace view"
In vs code there is an option to add folder to workspace which simplifies the explorer by adding only the folders which are frequently used, but if i wan to generate anything by right click on a folder and choosing generate *, than it does not do anything.

[2020-03-01 16:45] cyrilletuzi commented on #110
Multi-root workspaces is already supported by this extension (it's mentioned in the README). And did a check: it's working both on Mac and Windows.

So I'll need a reproduction and more info to able to help you, especially:
- your OS,
- your VS Code version,
- did you check the requirements in README, especially the one about opening the project at root?
- does it work when you have just one works

[2020-03-06 08:23] cyrilletuzi commented on #110
Closing for house-keeping, as there is no news. Feel free to comment and I'll reopen the issue.

[2020-03-06 08:23] #110 closed

[2020-04-05 14:23] cyrilletuzi commented on #56
@endlessracingz Good news: your issue should be fixed by #125

Can you follow the instructions in the PR to test and confirm the beta fixes your problem? Thanks.

[2020-04-05 14:25] cyrilletuzi commented on #51
Good news: this issue should be fixed by #125 (for real this time).

@sukheja-varun @QBseventy @konieczny9lives @t-zander  Can you follow the instructions in the PR to test and confirm the beta fixes the problem? Thanks.

[2020-04-05 14:26] cyrilletuzi commented on #27
Good news: this issue should be fixed by #125 (for real this time).

@Korbraan @michaeljota Can you follow the instructions in the PR to test and confirm the beta fixes the problem? Thanks.

[2020-04-07 16:02] cyrilletuzi commented on #49
@victorschinaider @andreialecu I've tried an implementation in #126, but I need real world testing as I'm not a Yarn user myself. Instructions in the Pull Request.

[2020-04-08 17:28] cyrilletuzi commented on #49
For info: v4.0 (released soon) partially fixes this issue as the extension is now looking in parent directories to find the `node_modules` folder.

So it will work in this scenario (ie. when at at least 2 projects of the workspace are Angular ones, so the Angular dependencies are shared):
[code]

But it will *not* work yet in this scenario (ie. when only one project in the workspace is an Angular

[2020-04-10 18:51] cyrilletuzi commented on #49
@andreialecu Thanks for all the help! I finally installed Yarn to see by myself and it was simpler than expected. I was reluctant on infinite lookup but it doesn't seem to impact performances even if there is no `node_modules` anywhere.

v4.0.0-beta.7 fixes this issue, instructions to test in #125

[2020-04-10 20:19] andreialecu commented on #49
Not sure what I'm doing wrong, I installed `v4.0.0-beta.7` but the context menu isn't showing the schematic commands. It did before, while I was using this PR directly.

[2020-04-10 20:25] andreialecu commented on #49
Nevermind, it reverted to 3.3.1 for some reason.

[2020-04-10 20:28] andreialecu commented on #49
Alright, confirmed that a simple service was created in the right folder in an actual complex production project, good job @cyrilletuzi. 🚀

Thanks for this!

[2020-04-13 07:41] alavaros opened #129 "Need to disable/enable the plugin to make it work."
This happens very often, when I want to create a new component or service, I can't find the option in the context menu, and I have to disable and enable the plugin to make it appear again.

[2020-04-13 07:47] cyrilletuzi commented on #129
Your issue is far too vague to be able to help. However, v4 will be released soon and is a full rewrite of the extension. Can you test with instructions in #125?

[2020-04-13 13:38] #27 closed

[2020-04-13 13:38] #49 closed

[2020-04-13 13:38] #51 closed

[2020-04-13 13:38] #56 closed

[2020-04-13 13:47] cyrilletuzi commented on #110
For info: v4 has just been released and is a full rewrite of the extension. It should have fixed any weird case like this one.

It took more than a *full-time* non-paid week to do this rewrite. Yet I still do not have any **[sponsor](https://github.com/sponsors/cyrilletuzi)**. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-04-13 13:47] cyrilletuzi commented on #93
For info: v4 has just been released and is a full rewrite of the extension. It should have fixed all weird cases like this one.

It took more than a *full-time* non-paid week to do this rewrite. Yet I still do not have any **[sponsor](https://github.com/sponsors/cyrilletuzi)**. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-04-13 13:48] cyrilletuzi commented on #56
For info: v4 has just been released and is a full rewrite of the extension. It should have fixed all weird cases like this one.

It took more than a *full-time* non-paid week to do this rewrite. Yet I still do not have any **[sponsor](https://github.com/sponsors/cyrilletuzi)**. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-04-13 13:49] cyrilletuzi commented on #51
For info: v4 has just been released and is a full rewrite of the extension. Now the CLI command is launched in VS Code Terminal, so the extension should not be affected by custom configuration on user side, as long as `ng g component hello` works in your *VS Code* Terminal.

It took more than a *full-time* non-paid week to do this rewrite. Yet I still do not have any **[sponsor](https://github.com

[2020-04-13 13:50] cyrilletuzi commented on #49
For info: v4 has just been released and is a full rewrite of the extension. Hoisted `node_modules`, and thus Yarn workspaces, are now supported.

It took more than a *full-time* non-paid week to do this rewrite. Yet I still do not have any **[sponsor](https://github.com/sponsors/cyrilletuzi)**. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-04-13 13:52] cyrilletuzi commented on #27
For info: v4 has just been released and is a full rewrite of the extension. Now the CLI command is launched in VS Code Terminal, so the extension should not be affected by custom configuration on user side, as long as `ng g component hello` works in your *VS Code* Terminal.

It took more than a *full-time* non-paid week to do this rewrite. Yet I still do not have any **[sponsor](https://github.com

[2020-04-13 13:54] cyrilletuzi commented on #129
For info: v4 has just been released and is a full rewrite of the extension. So I'll close this issue, as things that were happening in v3 are not relevant in v4. If there still is an issue with v4, please open a new issue.

[2020-04-13 13:54] #129 closed

[2020-04-16 08:59] xuxicheta opened #132 "How to do not importing my created module?"
# Checks before posting an issue
- [x] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [x] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [x] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tried to fix my project's configuration accordingly
- [x] I understa

[2020-04-16 09:05] cyrilletuzi commented on #132
I'll make the relevant step optional.

[2020-04-16 11:59] #132 closed

[2020-04-16 12:02] cyrilletuzi commented on #132
Fixed in v4.0.3.

For info: v4 took me more than a *full-time* non-paid week to do. Yet I still do not have any **[sponsor](https://github.com/sponsors/cyrilletuzi)**. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-05-08 09:42] rbalet opened #151 "generate module in nowhere doesn't work"
# Description of the issue
I'm not able to generate a module `Module of components` with `Nowhere`

# How to reproduce the issue
1.  `ng new angular-test`
2.  add routing and scss
3.  create inside the app folder an folder `test`
4.  click on the folder and generate a module -> `Module of components` -> `Nowhere`

# log
[code]

# version
[code]

[2020-05-08 10:18] #151 closed

[2020-05-08 10:20] cyrilletuzi commented on #151
Thanks for the report. It is fixed in v4.0.5.

For info: v4 was a full rewrite of the extension. It took more than a full-time non-paid week to do this rewrite. Yet I still do not have any sponsor. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-05-11 09:49] dtaylor84 opened #153 "angular.json with comments / trailing commas"
# Checks before posting an issue

- [x] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [x] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [x] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tried to fix my project's configuration accordingly
- [x] I underst

[2020-05-11 10:40] cyrilletuzi commented on #153
On a feature perspective, I am not opposed to this. On a performance and security perspective however, it would require to add a third-party dependency (while currently there are none at all, the extension is autonomous).

I'll do some tests to evaluate this feature request.

[2020-05-11 15:17] cyrilletuzi commented on #153
After a quick investigation:
- [strip-json-comments](https://github.com/sindresorhus/strip-json-comments/) would be acceptable as it is a very small lib with no dependencies; but it only removes comments; but while comments can be considered as an useful feature, trailings commas are just about style so it's really not a priority to support;
- [json5](https://github.com/json5/json5) supports all J

[2020-05-20 15:59] elementalPRESS opened #161 "Editor format settings are being ignored or overwritten?"
At first: Thank you very much for this great extension. It saved me so much time until now. Awesome work!

But there is a small problem with the created files. Let me try to explain: my editor settings are e.g. Tab = 4 and do not replace tabs with spaces. When I create now a component with your extension the newly created files have a tabsize of 2 and tabs are filled with spaces.

This wouldn't be

[2020-05-20 16:08] cyrilletuzi commented on #161
Thanks. :)

The extension is not creating any files at all: it only launches an Angular CLI command, which then creates the files. So I suppose if you do `ng g component` directly in your terminal you also have 2 spaces indentation, right?

You mean that even if you do a change in the file and save, Prettier is not doing its job?

If so, is that still happening if you close VS Code and open it aga

[2020-05-20 18:37] elementalPRESS commented on #161
It does, but with wrong settings...

I tried this and that worked well. So I need to close VS Code and open it again to get the correct format. Strange...

[2020-05-20 19:37] cyrilletuzi commented on #161
I can't reproduce your issue. I've tried to reproduce by:
- `ng new demo`
- `cd demo`
- `npm install prettier --save-dev --save-exact`
- change `indent_size` to `4` in `.editorconfig`
- set `"editor.formatOnSave": true` in VS Code preferences
- install the Prettier VS Code extension (`esbenp.prettier-vscode`)
- generate a component with the extension
- save: it works (indentation is changed to 4 s

[2020-05-20 20:02] cyrilletuzi commented on #153
Note: Angular CLI is using its [own parser](https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/core/src/json/parser.ts).

[2020-05-26 08:15] #153 closed

[2020-05-26 08:19] cyrilletuzi commented on #153
@dtaylor84 Support for JSON5 has been added in 4.1.0.

For info: v4 took me more than a *full-time* non-paid week to do. Yet I still do not have any **[sponsor](https://github.com/sponsors/cyrilletuzi)**. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-06-08 14:51] ianhlavats opened #178 "Missing 'force' option on @ngrx/schematics commands"
# Checks before posting an issue

- [X ] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [X ] My project meets the requirements indicated in README
- [ X] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [X ] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tri

[2020-06-08 19:54] cyrilletuzi commented on #178
`force` option does not exist in [ngrx schematics](https://github.com/ngrx/platform/blob/master/modules/schematics/src/feature/schema.json), so it may be a global Angular CLI option.

Except for `ng update` (where it makes sense), I never met this option in any CLI documentation or schemas, so it would need some investigation.

Even it is indeed supported, I'm not sure `force` should be encouraged

[2020-06-08 19:55] cyrilletuzi commented on #161
Closing this issue for house keeping, as there is no news from 3 weeks. Feel free to comment and I will reopen the issue.

[2020-06-08 19:55] #161 closed

[2020-06-08 19:58] ianhlavats commented on #178
Hi @cyrilletuzi ,

When I run `ng generate @ngrx/schematics:feature --help` I can see the force option:

![image](https://user-images.githubusercontent.com/3005952/84074504-f9f48780-a9d2-11ea-8c48-23680e3dbc74.png)

My use case is like this:

1. Generate feature state
1. Add Entity state (this requires overwriting some files generated by feature state schematic)

Without the force option the comma

[2020-06-12 08:43] cyrilletuzi commented on #178
The extension is already doing that.

I've searched in:
- entity schematic [here](https://github.com/ngrx/platform/tree/master/modules/schematics/src/entity) and [here](https://github.com/ngrx/schematics-builds/blob/master/src/entity/schema.json): no `force` option
- [`ngrx/platform` repo](https://github.com/ngrx/platform/) global `force` search: only 8 occurrences, unrelated
- [`ngrx/schematics-b

[2020-06-12 08:56] ianhlavats commented on #178
Hi @cyrilletuzi ,

It is documented in the Angular CLI as an option to the `ng generate` command itself, not part of the schematic _per se_:

https://angular.io/cli/generate

Can these options be added manually to your tool's interface?

Regards,
Ian

[2020-06-12 09:26] #178 closed

[2020-06-12 09:29] cyrilletuzi commented on #178
Added in 4.2.0.

For info: v4 took me more than a *full-time* non-paid week to do. Yet I still do not have any **[sponsor](https://github.com/sponsors/cyrilletuzi)**. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-06-12 09:40] ianhlavats commented on #178
Thank you @cyrilletuzi !

[2020-06-24 16:20] mcrodrig opened #191 "Error on first component creation No valid Angular config file found for the chosen workspace. Add a "angular.json" file in your project with `{ "version": 1 }`"
# Checks before posting an issue

- [X] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [X] My project meets the requirements indicated in README
- [X] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [X] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tried t

[2020-06-24 16:27] cyrilletuzi commented on #191
Thanks for the detailed issue, but as you can imagine, such an immediate issue on a such simple case would have been spotted before. There must be something specific in config or in steps done which is not right.

Given you have created `ng new myproject`, what folder exactly do you open in VS Code?

[2020-06-24 16:34] mcrodrig commented on #191
I created a new project test and had no problem. Then I created a new project call xxx-xxxxxxxx-xx and I can reproduce again the problem. It looks it is related to the project name.

[2020-06-24 16:39] cyrilletuzi commented on #191
Tried with exactly `xxx-xxxxxxxx-xx` and it works.

[2020-06-24 17:52] #191 closed

[2020-06-25 08:43] merkuriy opened #192 "Feature: support for local-only CLI"
# Checks before posting an issue
<details><summary>RESULTS</summary>

- [x] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [x] My project meets the requirements indicated in README
- [x] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [x] I looked at the extension's logs ("Angular Schematics" Output channel, second ta

[2020-08-12 15:50] cyrilletuzi commented on #192
So, there is already history about this.

In a previous version, I introduced the use of the local CLI directly (`./node_modules/.bin/ng g`), but as this command contains special characters, it resulted in issues in some specific shell installations (#27).

That is why I reverted to the usage of the global CLI (`ng g`) in version 4.

However, before v4, Node `exec` function was used to launch comm

[2020-08-27 12:08] cyrilletuzi commented on #192
Closing this issue for house-keeping as there is no news. Feel free to answer and I will open it back.

[2020-09-07 20:53] RickSeta opened #261 "Right clicking and icon not working"
# Checks before posting an issue

- [x] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [X] My project meets the requirements indicated in README
- [X] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [X] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tried t

[2020-09-11 08:27] cyrilletuzi commented on #261
Hello, I'm not sure to understand your issue. So you say that doing `ng g component hello` directly in the VS Code Terminal does not work, but doing `cd src/app` and then `ng g component hello` works?

If that is right, it is not an extension issue, you should fix your project to make it work correctly with the Angular CLI first.

[2020-09-18 08:07] cyrilletuzi commented on #261
I'm closing this issue for house-keeping, as there is no news. Feel free to comment and I'll reopen it.

[2020-09-18 08:07] #261 closed

[2020-10-02 07:25] AndreyWV opened #278 "Support for git submodules"
# Checks before posting an issue

- [x] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [x] My project meets the requirements indicated in README
- [x] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [x] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tried t

[2020-10-02 08:35] cyrilletuzi commented on #278
Hi @AndreyWV,

Thanks for your full report.

Indeed, this is not a case I planned. Given that Angular already have a library feature (`ng g library`), which is very simpler than git submodules, what is your use case for preferring the second option?

I'll take a look when I have some time to see if it is a scenario easy to add.

[2020-10-02 09:25] AndreyWV commented on #278
Hi @cyrilletuzi, the case is: I'm working now on large project and tons of legacy modules it use stored in other project (submodule - legacy project).

[2020-10-02 09:56] cyrilletuzi commented on #278
Ok, I'll look into this, I think it should not be too difficult to implement.

[2020-10-02 16:57] cyrilletuzi commented on #278
After investigation, I anticipated such a scenario by limiting the search of `angular.json` to 1 result. But I was supposing that VS Code was looking in a logical order (from root to subfolders), but apparently the whole search is asynchronous, so sometimes the first result is indeed the root `angular.json` and some other times not.

A fix is ready, I'll just let the weekend pass to check that wit

[2020-10-05 08:38] #278 closed

[2020-10-05 09:10] cyrilletuzi commented on #278
@AndreyWV Support for git submodules has been added in 4.5.0.

For info: with more than 350 000 users, this extension is a lot of *non-paid* work. Yet I still do not have any **[sponsor](https://github.com/sponsors/cyrilletuzi)**. So please consider to help, or to ask your enterprise, which makes money with this extension, to help.

[2020-11-06 14:54] starikovs commented on #192
Hey guys!

I also would like to have local `ng` support. Probably instead of `./node_modules/.bin/ng g` the `npx ng g` can be used, which has the same behavior if you have `ng` installed locally and don't have it globally.

[2020-11-06 15:30] cyrilletuzi commented on #192
Unfortunately it is not that easy:
- `npx` seems deprecated in npm v7, in favor of `npm exec`
- some users don't use npm but yarn instead

[2020-11-07 08:03] cyrilletuzi commented on #192
I'll reopen this issue, but this feature needs a solution working with all configurations to be implemented.

[2020-12-31 09:01] tayambamwanza opened #363 "NestJS Schematics"
# Checks before posting an issue

- [x] I understand I am writing to a *human being*, doing this open source project on his *free* time
- [x] I will be involved in my own issue, by answering questions and informing if the issue is resolved

# Configuration

- VS Code version: 1.52.1
- Angular version (`ng version`): 11.0.0

# Description of the issue

Hi this is more of a feature request than a bu

[2021-01-03 10:30] cyrilletuzi opened #368 "Feature: detect custom component suffixes in ESLint config"
This extension detects custom component suffixes defined in `tslint.json`, to automatically add `--type xxx` when generating some special component types (for example Pages).

But now TSLint is deprecated, and [angular-eslint](https://github.com/angular-eslint/angular-eslint) is stable.

So the extension should detect custom component suffixes in `.eslintrc.json` too.

[2021-01-03 11:08] cyrilletuzi commented on #363
Hi @tayambamwanza,

While it could be possible to implement NestJS support in this extension, it seems there is already another VS Code extension for NestJS: [https://marketplace.visualstudio.com/items?itemName=AbhijoyBasak.nestjs-files](https://marketplace.visualstudio.com/items?itemName=AbhijoyBasak.nestjs-files)

Doesn't this extension work? (I'm not a NestJS user myself)

[2021-01-03 12:53] tayambamwanza commented on #363
Thanks for bringing it to my attention, I can use it, although it would be nice to have support for it too (instead of two separate extensions), for example under the "Generate another schematic" option.

If you feel it's out of scope for this project then that's fine, I'll close the issue.

I think Nestjs is a natural back-end for Angular, because the concepts are borrowed from angular (dependenc

[2021-01-03 14:17] #368 closed

[2021-01-03 14:28] cyrilletuzi commented on #363
If the other extension is working well, I would say it may be better to stick to it.

I quickly checked, and unfortunately it's more than just adding the `@nestjs/schematics` collection to the defaults, it would also require too:
- detect and manage NestJS config file instead of `angular.json` (seems easy stated like that but it is what would require the most work)
- when formatting the final comm

[2021-01-03 14:46] tayambamwanza commented on #363
If it's that much work than I understand, I didn't know the internals too well, i'm ok to just use the other extension.

[2021-01-29 08:48] #363 closed

[2021-01-30 15:15] alicezelberg commented on #93
I have the same problem. I updated the angular CLI just to be sure that's not a problem. Can anyone help and explain why this happens? I created a project somehow and I am in the root folder so why suddenly it stopped working

[2021-02-05 14:28] digeomel opened #414 ""No valid Angular config file found for the chosen workspace" on monorepo workspace with multiple root folders per project"
# Checks before posting an issue

- [x] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [x] My project meets the requirements indicated in README
- [x] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [x] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tried t

[2021-02-06 11:12] cyrilletuzi commented on #414
Can you be more specific? Do you mean projects generated by `ng g library` / `ng g application`, or full projects generated by a new `ng new` placed in subfolder?

[2021-02-06 13:29] digeomel commented on #414
What is described here: https://octoperf.com/blog/2019/08/22/kraken-angular-workspace-multi-application-project/#create-a-workspace

1. `ng new kraken --createApplication=false --directory=frontend --interactive=false`
2. `cd frontend`
3. `ng generate application administration --style=scss --routing=true`

[2021-02-07 18:59] cyrilletuzi commented on #414
Then it's normal. Angular sub-applications (`ng g application`) and sub-libraries (`ng g library`) are not designed to be opened as workspaces directly.

There is a lot of issues coming up doing that, for example:
- TypeScript will raise errors about experimental decorators because it cannot see the root `tsconfig.json`,
- launching `ng g component` inside the library root is not working (error: `

[2021-02-07 18:59] #414 closed

[2021-02-09 14:34] andybond006 opened #416 "Right clicking folder does not add path to command on Windows"
# Checks before posting an issue

- [x] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [x] My project meets the requirements indicated in README
- [x] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [x] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tried t

[2021-02-09 14:50] cyrilletuzi commented on #416
Hi, thanks for the detailed report.

v4.9 possibly messed with paths on Windows (it is a hell to manage correctly).

Your "Workspace folder-relative context path detected" log is anormal so there is definitively an issue. I'll look into it as soon as possible.

[2021-02-09 14:52] andybond006 commented on #416
Thanks! I really love the extension - so keep up the good work!

[2021-02-09 15:07] andybond006 opened #417 "Feature: Add Generated Item to Barrel File - Then (optionally) Import in Module"
# Checks before posting an issue

- [x] I have read all the extension's documentation (README and docs/TROUBLESHOOTING)
- [x] My project meets the requirements indicated in README
- [x] I launched `ng g component hello` in the *VS Code* Terminal inside my project, and it works
- [x] I looked at the extension's logs ("Angular Schematics" Output channel, second tab left to the Terminal), and tried t

[2021-02-09 16:32] cyrilletuzi commented on #416
Issue spotted. VS Code is inconsistently reporting the workspace path with `c:` or `C:` depending if you have only one project opened or you are in a multi-workspaces scenario.

Can you confirm you are in a multi-workspace setup? And that it is working normally if you just open only one project/folder?

[2021-02-09 17:29] andybond006 commented on #416
I am actually in a single workspace folder. The only other thing I can think of regarding my workspace that is different is that I use ESLint rather than TSLint. Happy to provide any more information you need, just let me know how I can help.

[2021-02-09 18:09] #416 closed

[2021-02-09 18:11] cyrilletuzi commented on #416
@andybond006 v4.10.1 just released (and will be able via auto-update in a few minutes) should have fixed the issue. Can you confirm?

[2021-02-09 18:37] andybond006 commented on #416
@cyrilletuzi Looks like it is working properly now. Thanks!

[2021-02-09 20:15] cyrilletuzi commented on #417
Hi again,

This is an idea I already have for quite some time, and there would be many other great ideas for enhancing generation like this one.

Note however that the extension is just a graphic interface for existing schematics, it does not generate anything by itself. While it would not be impossible to do generation directly inside the extension code, it would clearly be better in a separate t

[2021-02-09 20:15] #417 closed

[2021-02-12 16:34] #192 closed

[2021-03-08 15:20] cyrilletuzi opened #461 "Support schematics collections using root `extends`"
Follow-up of discussion #453 started by @wSedlacek

From [Angular CLI collection schema](https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/schematics/collection-schema.json):
1. a schematic can extend another one:
  a. from the same collection
  b. from another collection (example: [`@ionic/angular-toolkit`](https://github.com/ionic-team/angular-toolkit/blob/main/collectio

[2021-03-17 17:11] #461 closed

[2021-03-28 21:00] cyrilletuzi opened #495 "Remove angular-cli.json and .angular-cli.json support"
Angular CLI no longer accepts `angular-cli.json` and `.angular-cli.json` as configuration file names, so support for them can be removed in this extension.

If your project is concerned, just rename the config file `angular.json`.

[2021-03-29 09:38] cyrilletuzi opened #501 "Add `@ngneat/scam` schematics in defaults"
Follow up of #494 discussion started by @tayambamwanza

[2021-03-29 09:46] #501 closed

[2021-04-19 16:42] ties-s opened #524 ""@schematics/angular" should be present in a correctly installed Angular project"
Hi,

# Checks before posting an issue

- [x] I have read _all_ the extension's documentation:
  - [README](https://github.com/cyrilletuzi/vscode-angular-schematics/blob/main/README.md)
  - [TROUBLESHOOTING](https://github.com/cyrilletuzi/vscode-angular-schematics/blob/main/docs/TROUBLESHOOTING.md)
- [x] I have checked in already:
  - [opened issues](https://github.com/cyrilletuzi/vscode-angular-sc

[2021-04-19 17:47] cyrilletuzi commented on #524
You can guess that if it was so simple to reproduce, I would already be aware of such an issue.

So there must be something specific in your configuration, or something wrongly done, and I'll need more info if you want me to be able to help:

- is it your first use of the extension, or was it working before and the issue happened suddenly?
- can you copy the *full* result of `ng version` (done fro

[2021-04-19 19:51] ties-s commented on #524
It worked before, then it didn't, now it does after reloading the vscode window. Thanks for your time.

[code]

[2021-04-19 19:51] #524 closed

[2021-05-05 21:36] cyrilletuzi opened #544 "Update to Node 14.16"
VS Code 1.56 updated to Electron 12, and thus updated to Chromium 89.0.4389.114 and to Node.js 14.16.0.

[2021-05-05 21:38] cyrilletuzi opened #545 "Follow the development of the new virtualWorkspaces VS Code feature"
VS Code Insiders v1.57 introduced a `virtualWorkspaces` feature.

#551 prepared the extension to handle file management.

But full support for this feature is currently blocked by the VS Code feature itself, as Terminals are not yet supported in this scenario, which 2 consequences:
- don't know how to `npm install`, and so the extension can't find `@schematics/angular`
- can't launch the CLI comma

[2021-08-23 13:08] #495 closed

[2021-08-23 13:08] #544 closed

[2021-08-23 13:19] cyrilletuzi commented on #545
Should be OK in v5.

[2021-08-23 13:19] #545 closed

[2021-08-30 08:56] renovate[bot] opened #677 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): update dependency vsce to v1.96.2
 - [ ] chore(deps): update typescript-eslint monorepo to v4.30.0 (`@typescript-eslint/eslint-plugi

[2021-08-30 19:29] #677 closed

[2021-09-05 13:46] Artur51 opened #685 "Cannot use tool on windows machine due baseCommand 'ng g' cannot run"
Hi,
I have installed this extension and it does not work on my windows pc. All the command-line shells I have on this pc do not support "ng" execution but supports "npx ng" instead. Could you please introduce a fix for this case?

Thank you!

[2021-09-06 07:34] cyrilletuzi commented on #685
Hi,

As mentioned in the [extension documentation](https://github.com/cyrilletuzi/vscode-angular-schematics/blob/main/docs/TROUBLESHOOTING.md), it is currently required to have Angular CLI installed. The [official Angular documentation](https://angular.io/guide/setup-local#install-the-angular-cli) does to. So this is not an issue, it is working as intended.

Adding support for another base command

[2021-09-06 07:34] #685 closed

[2021-09-06 07:53] Artur51 commented on #685
Hello.
I have it installed. I cannot run it but only using npx as the base prefix
command.

пн, 6 сент. 2021 г., 10:34 Cyrille Tuzi ***@***.***>:

[2021-09-06 07:57] Artur51 commented on #685
Please implement settings checkbox for this, if possible. I believe my
machine is not the only one with the same behavior due the solutions to run
ng i have googled

пн, 6 сент. 2021 г., 10:53 Artur Zuravljov ***@***.***>:

[2021-09-06 08:00] cyrilletuzi commented on #685
If `@angular/cli` is installed globally, direct `ng g` commands should work, and it is not related to this extension.

The most frequent cause of this problem is that `npm install @angular/cli -g` has been done in a shell different from the one used in VS Code (for example, doing the global install in cmd, then using PowerShell in VS Code). Doing `npm install @angular/cli -g` directly in VS Code t

[2021-09-06 08:09] Artur51 commented on #685
I tryed before and Just have tryed install globally once again with the
command you sent. Still not work for ne when i run ng after installation.

пн, 6 сент. 2021 г., 10:34 Cyrille Tuzi ***@***.***>:

[2021-09-06 08:20] Artur51 commented on #685
Just have done fron VS code terminal and restarted... Ng Not working after
restartin terminal. Something else maybe need to be done.

пн, 6 сент. 2021 г., 10:34 Cyrille Tuzi ***@***.***>:

[2021-09-06 08:20] Artur51 commented on #685
If the enu setting is difficult to implement then maybe you can get some
environment property. User can provide instead of default base command?

пн, 6 сент. 2021 г., 10:34 Cyrille Tuzi ***@***.***>:

[2022-02-08 19:01] clabough opened #851 "Right-click on folder not inferring path when outside app folder"
Right-clicking on a folder outside the app folder is not inferring the path.  For example, I have src/app and src/plugins. When I right-click  on a folder within src/app like src/app/test, the path is inferred, but when I right-click on src/plugins, the path is not inferred and if I go ahead with creating a component, it creates it within src/app

Here's my startup info.

[Info - 10:40:13 AM] Angu

[2022-02-09 09:10] cyrilletuzi commented on #851
The extension matches Angular CLI behavior, so this is an expected behavior. Indeed, if you do directly `ng g component src/plugins/demo` with just Angular CLI, it will create a component in `src/app/src/plugins`.

Angular CLI (and so this extension) is based on `angular.json` configuration, where each `project` has a `root` and a `sourceRoot` properties to be able to know the paths.

This configu

[2022-03-31 10:14] cyrilletuzi opened #893 "Angular CLI 14 schematicCollections"
Angular CLI 14 will remove `defaultCollection` from angular.json configuration, and will replace it with `schematicCollections` (angular/angular-cli#22860).

This is an important property in this extension, because it is used to check if the schematic collection should be retained or not when displayed (because display area is limited) and when the command is launched (to avoid verbosity and to no

[2022-05-19 10:30] JactheAnge opened #901 "right click shortcut doesn't work at all"
hi there, i'm working on an angular 2  project an i just installed angular schematics extension but whe i right click on a folder it doesn't show generate: module, generate: component...

i tried to reinstall all the extension and vs code too but nothing. i have angular.json file in all the project i'm managing.

how to solve this?

[2022-06-09 09:31] #893 closed

[2022-08-27 07:18] sugidaffection opened #903 "Command 'Angular Schematics: Show schematics list (internal command)' resulted in an error (command 'ngschematics.showtree' not found)"
Command 'Angular Schematics: Show schematics list (internal command)' resulted in an error (command 'ngschematics.showtree' not found)

<div align="center">
<img  width="256" alt="command 'ngschematics.showtree' not found" src="https://user-images.githubusercontent.com/21971925/187019389-6f283807-f923-47e8-9e83-b733dd33dde5.png">
</div>

<div align="center">
<img width="259" alt="command 'ngschema

[2022-08-29 07:21] cyrilletuzi commented on #903
Can you elaborate about this? What special action results in having to re-enable the extension?

[2022-08-29 08:27] sugidaffection commented on #903
<img width="610" alt="Screen Shot 2022-08-29 at 15 20 05" src="https://user-images.githubusercontent.com/21971925/187157091-9e994f29-ff8c-4481-aa3e-ac22aa035a52.png">
<img width="306" alt="Screen Shot 2022-08-29 at 15 20 26" src="https://user-images.githubusercontent.com/21971925/187157114-d84d4ab4-d29e-4cf5-9b26-082db097fb7f.png">

the extension is not working
i have to re-enable the extension
<i

[2022-08-30 07:16] cyrilletuzi commented on #903
OK so you are trying to use this command because the generation options ("Angular: Generate...") in the context menu are missing.

The "Show schematics list" command is not related at all to the generation options appearing in the context menu.

It seems you have a more general issue with the extension activation. So I will close this issue and ask you to open a new one, but this time following th

[2022-08-30 07:16] #903 closed

[2022-11-17 16:15] cyrilletuzi opened #904 "constructor() and ngOnInit() missing in components in Angular 15"
Anticipation of complaints: components generated not having a `constructor()` and a `ngOnInit()` anymore in Angular 15 projects is not due to this extension but to a choice made by the official Angular CLI schematics.

I understand if you think it is very annoying and a step back, as I do too (at least implemented like this), but I cannot do anything about it.

**If you want enhanced and customiza